<div>
	<form novalidate class="newShare">

		Share Code: <input type="text" ng-model="share.code" /><br />
		Price: <input type="number" ng-model="share.price" /> for <input type="number" ng-model="share.unit" /> shares<br />
		Investment Type: <input type="radio" ng-model="share.type" value="Long-term" />Long-term
		<input type="radio" ng-model="share.type" value="Short-term" />Short-term<br />
		Goal: <input type="number" ng-model="share.goal" />
		<button ng-click="reset()">RESET</button>
		<button ng-click="update(share)">SAVE</button>

		<button ng-click="go('/portfo')">To Portfolio</button>
		<a href="#/portfo">Go to About></a>

	</form>
</div>